# ignore all vim swap files
*.swp

# and gedit temporary files
*~

# ignore visual studio debug database
*.pdb

# ignore QtCreator user settings
*.pro.user

# ignore qmake generated makefiles
Makefile
Makefile.Debug
Makefile.Release
object_script.ZPO.Debug
object_script.ZPO.Release

# ignore generated ui headers
ui_*.h

# ignore compiled binary
ZPO.exe

# ignore debug and release directories
/odovzdanie
/odovzdanie/*
/bordel
/bordel/*
/output
/output/*
/obj
/obj/*  
/debug
/debug/*
/release
/release/*  
/build
/build/*
.qmake.stash
